@import url("https://fonts.googleapis.com/css?family=Heebo");
@font-face {
  font-family: 'MonotypeCorsiva';
  src: url("../fonts/MonotypeCorsiva.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/MonotypeCorsiva.eot?#iefix") format("embedded-opentype"), url("../fonts/MonotypeCorsiva.woff") format("woff"), url("../fonts/MonotypeCorsiva.ttf") format("truetype"), url("../fonts/MonotypeCorsiva.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
body {
  font-family: Heebo;
  padding-top: 70px; }
  body .container.margin-auto {
    margin: 0 auto; }
  body .vc_row {
    margin: 0; }
  body .vc_icon_element {
    margin-bottom: 0; }
  body h1, body h2, body h3 {
    font-family: Heebo; }

.no-padding .vc_column-inner {
  padding: 0 !important; }

.wpb_gmaps_widget.wpb_content_element {
  margin: 0 !important; }

.page-template-landingPage .main-link h2 {
  margin-top: 30px; }
  .page-template-landingPage .main-link h2 a {
    text-decoration: none;
    transition: 0.5s all;
    color: #cd0000; }
    .page-template-landingPage .main-link h2 a:hover {
      opacity: 0.8;
      color: #ab0000; }
    @media only screen and (max-width: 767px) {
      .page-template-landingPage .main-link h2 a {
        font-size: 22px; } }
.page-template-landingPage .flex-box {
  display: flex; }
.page-template-landingPage .landing-page-main-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid #ab0000;
  box-shadow: 1px -2px 12px 6px #000; }
  .page-template-landingPage .landing-page-main-header .flex-box {
    height: 70px;
    background: #fff;
    color: #ab0000;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 767px) {
      .page-template-landingPage .landing-page-main-header .flex-box .logo-wrap {
        flex: 3;
        justify-content: flex-start; } }
    .page-template-landingPage .landing-page-main-header .flex-box .logo-wrap .logo {
      position: absolute;
      display: flex;
      flex-flow: column;
      background: #fff;
      align-items: center;
      border: 1px solid #cd0000;
      padding: 10px;
      text-decoration: none; }
      @media only screen and (max-width: 767px) {
        .page-template-landingPage .landing-page-main-header .flex-box .logo-wrap .logo {
          display: block;
          position: relative;
          border: none;
          background: transparent; }
          .page-template-landingPage .landing-page-main-header .flex-box .logo-wrap .logo img {
            width: 50px !important; } }
      .page-template-landingPage .landing-page-main-header .flex-box .logo-wrap .logo span {
        font-family: MonotypeCorsiva;
        font-size: 22px;
        color: black;
        margin-top: 10px; }
        @media only screen and (max-width: 992px) {
          .page-template-landingPage .landing-page-main-header .flex-box .logo-wrap .logo span {
            font-size: 20px;
            margin-right: 10px; } }
        @media only screen and (max-width: 400px) {
          .page-template-landingPage .landing-page-main-header .flex-box .logo-wrap .logo span {
            font-size: 17px; } }
    .page-template-landingPage .landing-page-main-header .flex-box > div {
      flex: 1;
      display: flex;
      justify-content: center; }
    @media only screen and (max-width: 767px) {
      .page-template-landingPage .landing-page-main-header .flex-box .phone-wrap {
        justify-content: flex-end; }
        .page-template-landingPage .landing-page-main-header .flex-box .phone-wrap span {
          padding-left: 20px; } }
    .page-template-landingPage .landing-page-main-header .flex-box span {
      font-size: 30px; }
      .page-template-landingPage .landing-page-main-header .flex-box span a {
        text-decoration: none;
        transition: 0.5s all;
        color: #cd0000; }
        .page-template-landingPage .landing-page-main-header .flex-box span a:hover {
          opacity: 0.8;
          color: #ab0000; }
    .page-template-landingPage .landing-page-main-header .flex-box .socials {
      display: flex; }
      .page-template-landingPage .landing-page-main-header .flex-box .socials a {
        padding: 8px;
        display: flex;
        width: 35px;
        border-radius: 50%;
        border: 1px solid #fff;
        height: 35px;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        text-decoration: none;
        transition: 0.5s all;
        color: #cd0000; }
        .page-template-landingPage .landing-page-main-header .flex-box .socials a:hover {
          opacity: 0.8;
          color: #ab0000; }
        .page-template-landingPage .landing-page-main-header .flex-box .socials a:hover {
          border-color: #cd0000; }
    @media only screen and (max-width: 767px) {
      .page-template-landingPage .landing-page-main-header .flex-box .phone-desktop {
        display: none; } }
    .page-template-landingPage .landing-page-main-header .flex-box .phone-mobile {
      display: none; }
      @media only screen and (max-width: 767px) {
        .page-template-landingPage .landing-page-main-header .flex-box .phone-mobile {
          display: block; } }
.page-template-landingPage .dark-blue-bg {
  background: #ab0000; }
.page-template-landingPage .light-blue-bg {
  background: #cd0000; }
.page-template-landingPage .light-blue-bg h2 {
  margin-top: 30px; }
@media only screen and (max-width: 767px) {
  .page-template-landingPage .slider-form-section .vc_column-inner {
    padding: 0 !important; } }
.page-template-landingPage .contact-form-flow {
  position: absolute;
  z-index: 2;
  right: 15%;
  top: 20%;
  box-shadow: 4px 3px 9px -1px rgba(0, 0, 0, 0.4);
  background-color: #cd0000;
  padding: 25px; }
  @media only screen and (max-width: 767px) {
    .page-template-landingPage .contact-form-flow {
      position: relative;
      right: 0;
      top: 0;
      box-shadow: none; }
      .page-template-landingPage .contact-form-flow:before {
        font-family: FontAwesome;
        content: "\f063";
        display: block;
        color: #ab0000;
        position: absolute;
        top: -22px;
        transform: translate(-50%, -50%);
        right: 46%;
        width: 10px;
        height: 10px; } }
  .page-template-landingPage .contact-form-flow .contact-form {
    display: flex;
    flex-flow: column; }
    .page-template-landingPage .contact-form-flow .contact-form .contact-form-title {
      color: #fff;
      text-align: center; }
      .page-template-landingPage .contact-form-flow .contact-form .contact-form-title h3 {
        margin: 5px 0;
        font-family: Heebo; }
      .page-template-landingPage .contact-form-flow .contact-form .contact-form-title span br {
        margin: 0; }
    .page-template-landingPage .contact-form-flow .contact-form .form-input {
      display: flex;
      padding: 5px 0; }
      .page-template-landingPage .contact-form-flow .contact-form .form-input > div {
        display: flex;
        flex: 1 1 100%; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input > div span {
          width: 100%; }
          .page-template-landingPage .contact-form-flow .contact-form .form-input > div span input, .page-template-landingPage .contact-form-flow .contact-form .form-input > div span textarea {
            width: 100%;
            padding: 10px;
            resize: none; }
      .page-template-landingPage .contact-form-flow .contact-form .form-input input[type="submit"] {
        width: 100%;
        padding: 10px;
        background: #ab0000;
        color: #fff;
        transition: all .5s; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input input[type="submit"]:hover {
          background: #fff;
          color: #ab0000; }
      .page-template-landingPage .contact-form-flow .contact-form .form-input .acceptance {
        color: #fff; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input .acceptance label {
          flex: 3; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input .acceptance span {
          flex: 1;
          margin: 0; }
          .page-template-landingPage .contact-form-flow .contact-form .form-input .acceptance span input {
            float: left;
            width: auto; }
      .page-template-landingPage .contact-form-flow .contact-form .form-input span.ajax-loader {
        position: absolute;
        right: 25px;
        bottom: 7px; }
      .page-template-landingPage .contact-form-flow .contact-form .form-input .wpcf7-list-item.first.last {
        display: flex;
        margin: 0; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input .wpcf7-list-item.first.last input {
          order: 2;
          flex: 1; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input .wpcf7-list-item.first.last span {
          order: 1;
          flex: 3;
          color: #fff; }
.page-template-landingPage div.wpcf7-mail-sent-ok {
  border: 2px solid #fff;
  color: #fff; }
.page-template-landingPage .contact-bottom .contact-form {
  display: flex;
  margin: 30px 0;
  justify-content: space-around; }
  @media only screen and (max-width: 767px) {
    .page-template-landingPage .contact-bottom .contact-form {
      flex-flow: column; } }
  .page-template-landingPage .contact-bottom .contact-form .contact-form-title {
    display: none; }
  .page-template-landingPage .contact-bottom .contact-form .acceptance {
    display: none !important; }
  .page-template-landingPage .contact-bottom .contact-form .form-input {
    display: flex;
    padding: 5px 0; }
    .page-template-landingPage .contact-bottom .contact-form .form-input > div {
      display: flex;
      flex: 1 1 100%; }
      .page-template-landingPage .contact-bottom .contact-form .form-input > div span {
        width: 100%; }
        .page-template-landingPage .contact-bottom .contact-form .form-input > div span input, .page-template-landingPage .contact-bottom .contact-form .form-input > div span textarea {
          width: 100%;
          padding: 10px;
          resize: none; }
    .page-template-landingPage .contact-bottom .contact-form .form-input input[type="submit"] {
      width: 100%;
      padding: 10px;
      background: #ab0000;
      color: #fff;
      transition: all .5s; }
      .page-template-landingPage .contact-bottom .contact-form .form-input input[type="submit"]:hover {
        background: #fff;
        color: #ab0000; }
    .page-template-landingPage .contact-bottom .contact-form .form-input div.wpcf7-mail-sent-ok {
      border: 2px solid #fff;
      color: #fff; }
    .page-template-landingPage .contact-bottom .contact-form .form-input span.ajax-loader {
      position: absolute;
      right: 25px;
      bottom: 7px; }
    .page-template-landingPage .contact-bottom .contact-form .form-input .wpcf7-list-item.first.last {
      display: flex;
      margin: 0; }
      .page-template-landingPage .contact-bottom .contact-form .form-input .wpcf7-list-item.first.last input {
        order: 2;
        flex: 1; }
      .page-template-landingPage .contact-bottom .contact-form .form-input .wpcf7-list-item.first.last span {
        order: 1;
        flex: 3;
        color: #fff; }
.page-template-landingPage #inner-footer {
  background: #ab0000;
  color: #fff; }
  .page-template-landingPage #inner-footer a {
    color: #fff; }

/*# sourceMappingURL=main.css.map */
