@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Heebo');
@font-face {
  font-family: 'MonotypeCorsiva';
  src: url('../fonts/MonotypeCorsiva.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MonotypeCorsiva.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/MonotypeCorsiva.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/MonotypeCorsiva.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/MonotypeCorsiva.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body {
  font-family: Heebo;
  .container.margin-auto {
    margin: 0 auto;
  }
  .vc_row {
    margin: 0;
  }
  .vc_icon_element {
    margin-bottom: 0;
  }
  h1, h2, h3 {
    font-family: Heebo;
  }
  padding-top: 70px;
}

.no-padding .vc_column-inner {
  padding: 0 !important;
}

.wpb_gmaps_widget {
  &.wpb_content_element {
    margin: 0 !important;
  }
}

.page-template-landingPage {
  .main-link {
    h2 {
      margin-top: 30px;
      a {
        @include link-hover();
        @media only screen and (max-width: 767px) {
          font-size: 22px;
        }
      }
    }

  }

  //global
  .flex-box {
    display: flex;
  }

  //landing page header
  .landing-page-main-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid $dark-red;
    box-shadow: 1px -2px 12px 6px #000;
    .flex-box {
      height: 70px;
      background: $white;
      color: $dark-red;
      justify-content: space-between;
      align-items: center;
      .logo-wrap{
        @media only screen and (max-width: 767px) {
          flex:3;
          justify-content: flex-start;
        }
        .logo {
          position: absolute;
          display: flex;
          flex-flow: column;
          background: $white;
          align-items: center;
          border: 1px solid $light-red;
          padding: 10px;
          text-decoration: none;
          @media only screen and (max-width: 767px) {
            display: block;
            position: relative;
            border: none;
            background: transparent;
            img {
              width: 50px !important;
            }
          }
          span {
            font-family: MonotypeCorsiva;
            font-size: 22px;
            color: black;
            margin-top: 10px;
            @media only screen and (max-width: 992px) {
              font-size: 20px;
              margin-right: 10px;
            }
            @media only screen and (max-width: 400px) {
              font-size: 17px;
            }
          }
        }
      }

      > div {
        flex: 1;
        display: flex;
        justify-content: center;
      }
      .phone-wrap {
        @media only screen and (max-width: 767px) {
          justify-content: flex-end;
          span {
            padding-left: 20px;
          }
        }
      }
      span {
        font-size: $font-big;
        a {
          @include link-hover();
        }
      }
      .socials {
        display: flex;
        a {
          padding: 8px;
          display: flex;
          width: 35px;
          border-radius: 50%;
          border: 1px solid #fff;
          height: 35px;
          justify-content: center;
          align-items: center;
          margin: 0 5px;
          @include link-hover();
          &:hover {
            border-color: $light-red;
          }
        }
      }
      .phone-desktop {
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }
      .phone-mobile {
        display: none;
        @media only screen and (max-width: 767px) {
          display: block;
        }
      }
    }
  }

  .dark-blue-bg {
    background: $dark-red;
  }

  .light-blue-bg {
    background: $light-red;
  }

  .light-blue-bg {
    h2 {
      margin-top: 30px;
    }
  }

  //form
  .slider-form-section {
    .vc_column-inner {
      @media only screen and (max-width: 767px) {
        padding: 0 !important;
      }
    }
  }

  .contact-form-flow {
    position: absolute;
    z-index: 2;
    right: 15%;
    top: 20%;
    box-shadow: 4px 3px 9px -1px rgba(0, 0, 0, 0.4);
    @media only screen and (max-width: 767px) {
      position: relative;
      right: 0;
      top: 0;
      box-shadow: none;
      &:before {
        font-family: FontAwesome;
        content: "\f063";
        display: block;
        color: $dark-red;
        position: absolute;
        top: -22px;
        transform: translate(-50%, -50%);
        right: 46%;
        width: 10px;
        height: 10px;
      }
    }
    background-color: $light-red;
    padding: 25px;
    .contact-form {
      display: flex;
      flex-flow: column;
      .contact-form-title {
        color: $white;
        text-align: center;
        h3 {
          margin: 5px 0;
          font-family: Heebo;
        }
        span {
          br {
            margin: 0;
          }
        }
      }
      .form-input {
        display: flex;
        padding: 5px 0;
        > div {
          display: flex;
          flex: 1 1 100%;
          span {
            width: 100%;
            input, textarea {
              width: 100%;
              padding: 10px;
              resize: none;
            }
          }
        }
        input[type="submit"] {
          width: 100%;
          padding: 10px;
          background: $dark-red;
          color: $white;
          transition: all .5s;
          &:hover {
            background: $white;
            color: $dark-red;
          }
        }
        .acceptance {
          color: $white;
          label {
            flex: 3;
          }
          span {
            flex: 1;
            margin: 0;
            input {
              float: left;
              width: auto;
            }
          }
        }
        span.ajax-loader {
          position: absolute;
          right: 25px;
          bottom: 7px;
        }
        .wpcf7-list-item.first.last {
          display: flex;
          margin: 0;
          input {
            order: 2;
            flex: 1;
          }
          span {
            order: 1;
            flex: 3;
            color: $white;
          }
        }
      }
    }
  }

  div.wpcf7-mail-sent-ok {
    border: 2px solid #fff;
    color: #fff;
  }

  .contact-bottom {
    .contact-form {
      display: flex;
      margin: 30px 0;
      justify-content: space-around;
      @media only screen and (max-width: 767px) {
        flex-flow: column;
      }
      .contact-form-title {
        display: none;
      }
      .acceptance {
        display: none !important;
      }
      .form-input {
        display: flex;
        padding: 5px 0;
        > div {
          display: flex;
          flex: 1 1 100%;
          span {
            width: 100%;
            input, textarea {
              width: 100%;
              padding: 10px;
              resize: none;
            }
          }
        }
        input[type="submit"] {
          width: 100%;
          padding: 10px;
          background: $dark-red;
          color: $white;
          transition: all .5s;
          &:hover {
            background: $white;
            color: $dark-red;
          }
        }
        div.wpcf7-mail-sent-ok {
          border: 2px solid #fff;
          color: #fff;
        }
        span.ajax-loader {
          position: absolute;
          right: 25px;
          bottom: 7px;
        }
        .wpcf7-list-item.first.last {
          display: flex;
          margin: 0;
          input {
            order: 2;
            flex: 1;
          }
          span {
            order: 1;
            flex: 3;
            color: $white;
          }
        }
      }
    }
  }

  #inner-footer {
    background: $dark-red;
    color: $white;
    a {
      color: $white;
    }
  }
}
