@import "variables";

@mixin link-hover($color:$light-red,$hover-color:$dark-red,$decoration:none) {
  transition: $transitionAll;
  color: $color;
  &:hover {
    opacity: 0.8;
    color: $hover-color;
    text-decoration: $decoration;
  }
}

@mixin white-opacity-bg($opacity:0.7) {
  background: rgba(255, 255, 255, $opacity);
}