@font-face {
  font-family: 'MonotypeCorsiva';
  src: url("../fonts/MonotypeCorsiva.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/MonotypeCorsiva.eot?#iefix") format("embedded-opentype"), url("../fonts/MonotypeCorsiva.woff") format("woff"), url("../fonts/MonotypeCorsiva.ttf") format("truetype"), url("../fonts/MonotypeCorsiva.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
body {
  font-family: Heebo; }
  body .container.margin-auto {
    margin: 0 auto; }
  body .vc_row {
    margin: 0; }
  body .vc_icon_element {
    margin-bottom: 0; }
  body h1, body h2, body h3 {
    font-family: Heebo; }
  body.page-template-landingPage {
    padding-top: 70px; }

.no-padding .vc_column-inner {
  padding: 0 !important; }

.wpb_gmaps_widget.wpb_content_element {
  margin: 0 !important; }

.page-template-landingPage .main-link h2 {
  margin-top: 30px; }
  .page-template-landingPage .main-link h2 a {
    transition: 0.5s all;
    color: #cd0000; }
    .page-template-landingPage .main-link h2 a:hover {
      opacity: 0.8;
      color: #ab0000;
      text-decoration: none; }
    @media only screen and (max-width: 767px) {
      .page-template-landingPage .main-link h2 a {
        font-size: 22px; } }
.page-template-landingPage .flex-box {
  display: flex; }
.page-template-landingPage .dark-blue-bg {
  background: #ab0000; }
.page-template-landingPage .light-blue-bg {
  background: #cd0000; }
.page-template-landingPage .light-blue-bg h2 {
  margin-top: 30px; }
@media only screen and (max-width: 767px) {
  .page-template-landingPage .slider-form-section .vc_column-inner {
    padding: 0 !important; } }
.page-template-landingPage .contact-form-flow {
  position: absolute;
  z-index: 2;
  right: 15%;
  top: 20%;
  box-shadow: 4px 3px 9px -1px rgba(0, 0, 0, 0.4);
  background-color: #cd0000;
  padding: 25px; }
  @media only screen and (max-width: 767px) {
    .page-template-landingPage .contact-form-flow {
      position: relative;
      right: 0;
      top: 0;
      box-shadow: none; }
      .page-template-landingPage .contact-form-flow:before {
        font-family: FontAwesome;
        content: "\f063";
        display: block;
        color: #ab0000;
        position: absolute;
        top: -22px;
        transform: translate(-50%, -50%);
        right: 46%;
        width: 10px;
        height: 10px; } }
  .page-template-landingPage .contact-form-flow .contact-form {
    display: flex;
    flex-flow: column; }
    .page-template-landingPage .contact-form-flow .contact-form .contact-form-title {
      color: #fff;
      text-align: center; }
      .page-template-landingPage .contact-form-flow .contact-form .contact-form-title h3 {
        margin: 5px 0;
        font-family: Heebo; }
      .page-template-landingPage .contact-form-flow .contact-form .contact-form-title span br {
        margin: 0; }
    .page-template-landingPage .contact-form-flow .contact-form .form-input {
      display: flex;
      padding: 5px 0; }
      .page-template-landingPage .contact-form-flow .contact-form .form-input > div {
        display: flex;
        flex: 1 1 100%; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input > div span {
          width: 100%; }
          .page-template-landingPage .contact-form-flow .contact-form .form-input > div span input, .page-template-landingPage .contact-form-flow .contact-form .form-input > div span textarea {
            width: 100%;
            padding: 10px;
            resize: none; }
      .page-template-landingPage .contact-form-flow .contact-form .form-input input[type="submit"] {
        width: 100%;
        padding: 10px;
        background: #ab0000;
        color: #fff;
        transition: all .5s; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input input[type="submit"]:hover {
          background: #fff;
          color: #ab0000; }
      .page-template-landingPage .contact-form-flow .contact-form .form-input .acceptance {
        color: #fff; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input .acceptance label {
          flex: 3; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input .acceptance span {
          flex: 1;
          margin: 0; }
          .page-template-landingPage .contact-form-flow .contact-form .form-input .acceptance span input {
            float: left;
            width: auto; }
      .page-template-landingPage .contact-form-flow .contact-form .form-input span.ajax-loader {
        position: absolute;
        right: 25px;
        bottom: 7px; }
      .page-template-landingPage .contact-form-flow .contact-form .form-input .wpcf7-list-item.first.last {
        display: flex;
        margin: 0; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input .wpcf7-list-item.first.last input {
          order: 2;
          flex: 1; }
        .page-template-landingPage .contact-form-flow .contact-form .form-input .wpcf7-list-item.first.last span {
          order: 1;
          flex: 3;
          color: #fff; }
.page-template-landingPage div.wpcf7-mail-sent-ok {
  border: 2px solid #fff;
  color: #fff; }
.page-template-landingPage .contact-bottom .contact-form {
  display: flex;
  margin: 30px 0;
  justify-content: space-around; }
  @media only screen and (max-width: 767px) {
    .page-template-landingPage .contact-bottom .contact-form {
      flex-flow: column; } }
  .page-template-landingPage .contact-bottom .contact-form .contact-form-title {
    display: none; }
  .page-template-landingPage .contact-bottom .contact-form .acceptance {
    display: none !important; }
  .page-template-landingPage .contact-bottom .contact-form .form-input {
    display: flex;
    padding: 5px 0; }
    .page-template-landingPage .contact-bottom .contact-form .form-input > div {
      display: flex;
      flex: 1 1 100%; }
      .page-template-landingPage .contact-bottom .contact-form .form-input > div span {
        width: 100%; }
        .page-template-landingPage .contact-bottom .contact-form .form-input > div span input, .page-template-landingPage .contact-bottom .contact-form .form-input > div span textarea {
          width: 100%;
          padding: 10px;
          resize: none; }
    .page-template-landingPage .contact-bottom .contact-form .form-input input[type="submit"] {
      width: 100%;
      padding: 10px;
      background: #ab0000;
      color: #fff;
      transition: all .5s; }
      .page-template-landingPage .contact-bottom .contact-form .form-input input[type="submit"]:hover {
        background: #fff;
        color: #ab0000; }
    .page-template-landingPage .contact-bottom .contact-form .form-input div.wpcf7-mail-sent-ok {
      border: 2px solid #fff;
      color: #fff; }
    .page-template-landingPage .contact-bottom .contact-form .form-input span.ajax-loader {
      position: absolute;
      right: 25px;
      bottom: 7px; }
    .page-template-landingPage .contact-bottom .contact-form .form-input .wpcf7-list-item.first.last {
      display: flex;
      margin: 0; }
      .page-template-landingPage .contact-bottom .contact-form .form-input .wpcf7-list-item.first.last input {
        order: 2;
        flex: 1; }
      .page-template-landingPage .contact-bottom .contact-form .form-input .wpcf7-list-item.first.last span {
        order: 1;
        flex: 3;
        color: #fff; }
.page-template-landingPage #inner-footer {
  text-align: center;
  background: #ab0000;
  color: #fff; }
  .page-template-landingPage #inner-footer a {
    color: #fff; }

.thank-you-message {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center; }

.main-site .flex-box {
  display: flex; }
.main-site .no-padding {
  padding: 0 !important; }
.main-site .no-margin-title h3 {
  margin-top: 0; }
.main-site .vc_section {
  margin: 0; }
  .main-site .vc_section.light-red-bg {
    background: #cd0000; }
.main-site .navbar-toggle.collapsed .icon-bar {
  background-color: #ab0000; }
  .main-site .navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0deg);
    top: 0; }
  .main-site .navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    width: 100%;
    margin-left: 0; }
  .main-site .navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0deg);
    bottom: 0; }
.main-site .navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
  background-color: #000; }
.main-site .navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
  background-color: #000; }
  .main-site .navbar-toggle .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    top: 6px; }
  .main-site .navbar-toggle .icon-bar:nth-of-type(2) {
    opacity: 0;
    width: 0;
    margin-left: 50%; }
  .main-site .navbar-toggle .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    bottom: 6px; }
.main-site .navbar-default {
  margin: 0; }
  .main-site .navbar-default .logo-search-wrapper {
    transition: all .1s;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background: rgba(255, 255, 255, 0.85);
    height: 105px;
    opacity: 1;
    visibility: visible; }
    .main-site .navbar-default .logo-search-wrapper.fadeOutUp {
      height: 0;
      display: none; }
    .main-site .navbar-default .logo-search-wrapper .flex-box {
      justify-content: space-between;
      align-items: center; }
      @media only screen and (max-width: 767px) {
        .main-site .navbar-default .logo-search-wrapper .flex-box {
          justify-content: center; } }
      .main-site .navbar-default .logo-search-wrapper .flex-box .header-call-now {
        display: flex;
        align-items: center; }
        @media only screen and (max-width: 767px) {
          .main-site .navbar-default .logo-search-wrapper .flex-box .header-call-now {
            display: none; } }
        .main-site .navbar-default .logo-search-wrapper .flex-box .header-call-now .header-search {
          cursor: pointer; }
          @media only screen and (max-width: 767px) {
            .main-site .navbar-default .logo-search-wrapper .flex-box .header-call-now .header-search {
              display: none; } }
        @media only screen and (max-width: 767px) {
          .main-site .navbar-default .logo-search-wrapper .flex-box .header-call-now #main-search {
            display: none; } }
        .main-site .navbar-default .logo-search-wrapper .flex-box .header-call-now #search {
          width: 0;
          float: right;
          border: 1px solid #ab0000;
          transition: all .5s;
          border-radius: 4px;
          margin: 0 10px;
          opacity: 0;
          padding: 0; }
          .main-site .navbar-default .logo-search-wrapper .flex-box .header-call-now #search.open {
            width: 150px;
            opacity: 1;
            padding: 5px 10px; }
        .main-site .navbar-default .logo-search-wrapper .flex-box .header-call-now a {
          transition: 0.5s all;
          color: #cd0000;
          font-size: 19px; }
          .main-site .navbar-default .logo-search-wrapper .flex-box .header-call-now a:hover {
            opacity: 0.8;
            color: #ab0000;
            text-decoration: none; }
  .main-site .navbar-default .header-menu-wrapper {
    background: rgba(255, 255, 255, 0.85);
    border-top: 1px solid #ab0000;
    border-bottom: 1px solid #ab0000; }
    .main-site .navbar-default .header-menu-wrapper .hvr-overline-from-center:before {
      background: #ab0000; }
.main-site .nav-drag .header-menu-wrapper {
  background: #fff; }
.main-site .navbar a.navbar-brand {
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: auto;
  text-decoration: none; }
  .main-site .navbar a.navbar-brand span {
    font-family: MonotypeCorsiva;
    font-size: 22px;
    color: black;
    margin-top: 10px; }
    @media only screen and (max-width: 992px) {
      .main-site .navbar a.navbar-brand span {
        font-size: 20px;
        margin-right: 10px; } }
    @media only screen and (max-width: 400px) {
      .main-site .navbar a.navbar-brand span {
        font-size: 17px;
        text-align: left;
        margin-left: 10px; } }
.main-site .top-stripe {
  background: #fff;
  padding: 6px 0; }
  .main-site .top-stripe .container {
    display: flex; }
    .main-site .top-stripe .container .contact-info {
      flex: 3;
      display: flex;
      font-size: 12px; }
      @media only screen and (max-width: 767px) {
        .main-site .top-stripe .container .contact-info {
          display: none; } }
      .main-site .top-stripe .container .contact-info a {
        display: flex;
        align-items: center;
        margin-left: 15px;
        text-decoration: none;
        transition: 0.5s all;
        color: #959595; }
        .main-site .top-stripe .container .contact-info a:hover {
          opacity: 0.8;
          color: #ab0000;
          text-decoration: none; }
        .main-site .top-stripe .container .contact-info a i {
          margin-left: 5px;
          color: #ab0000;
          font-size: 17px; }
    .main-site .top-stripe .container .contact-info-mobile {
      display: none; }
      .main-site .top-stripe .container .contact-info-mobile a {
        transition: 0.5s all;
        color: #959595;
        color: #ab0000;
        font-size: 17px; }
        .main-site .top-stripe .container .contact-info-mobile a:hover {
          opacity: 0.8;
          color: #ab0000;
          text-decoration: none; }
      @media only screen and (max-width: 767px) {
        .main-site .top-stripe .container .contact-info-mobile {
          display: block; } }
    .main-site .top-stripe .container .socials {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .main-site .top-stripe .container .socials a {
        margin-left: 10px;
        font-size: 18px; }
        .main-site .top-stripe .container .socials a i {
          transition: 0.5s all;
          color: #959595; }
          .main-site .top-stripe .container .socials a i:hover {
            opacity: 0.8;
            color: #ab0000;
            text-decoration: none; }
.main-site .main-contact-form {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }
  .main-site .main-contact-form .input-form {
    flex: 1 1 49%;
    margin: 2px; }
    .main-site .main-contact-form .input-form input {
      width: 100%;
      height: 40px;
      padding: 5px; }
    .main-site .main-contact-form .input-form input[type='submit'] {
      transition: all .5s;
      background: #fff;
      color: #cd0000;
      border: none; }
      .main-site .main-contact-form .input-form input[type='submit']:hover {
        background: #cd0000;
        border: 1px solid #fff;
        color: #fff; }
.main-site #mega_count_bar {
  padding: 20px; }
.main-site #inner-footer {
  text-align: center;
  background: #ab0000;
  color: #fff; }
  .main-site #inner-footer .widget ul {
    padding: 0; }
    .main-site #inner-footer .widget ul li {
      text-align: right; }
      .main-site #inner-footer .widget ul li a {
        color: #fff; }
  .main-site #inner-footer .copyright {
    border-top: 1px solid #fff;
    padding-top: 10px; }
    .main-site #inner-footer .copyright p {
      text-align: center; }
    .main-site #inner-footer .copyright a {
      color: #fff; }

#main .post_content section.header-parallax {
  padding: 310px 0 190px !important;
  color: #fff; }
  #main .post_content section.header-parallax.equal {
    padding: 190px 0 !important; }
  #main .post_content section.header-parallax:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */ }
    #main .post_content section.header-parallax:before .wpb_wrapper {
      color: #fff;
      padding: 40px 0; }
  #main .post_content section.header-parallax.white-bg:before {
    background: rgba(255, 255, 255, 0.8); }

.wpb_revslider_element {
  margin-top: 35px; }
  @media only screen and (max-width: 992px) {
    .wpb_revslider_element {
      margin-top: 190px; } }

/*scroll top widget*/
.scroll-top {
  height: 52px;
  margin: 0px;
  text-align: center;
  background: transparent;
  border: 2px solid #ab0000;
  width: 52px;
  display: none;
  border-radius: 5px; }

.scroll-top a {
  color: #ab0000 !important;
  display: block;
  height: 100%;
  font-size: 22px;
  width: 100%;
  padding-top: 10px; }

#tooper {
  position: fixed;
  height: 45px;
  width: 45px;
  z-index: 999;
  right: 10px;
  bottom: 40px; }

@media (max-width: 992px) {
  .hvr-overline-from-center:before {
    display: none; } }
@media (max-width: 992px) {
  .articles-special .wpb_column.vc_column_container.vc_col-sm-6 {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
