@import "variables";
@import "mixins";

@font-face {
  font-family: 'MonotypeCorsiva';
  src: url('../fonts/MonotypeCorsiva.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MonotypeCorsiva.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/MonotypeCorsiva.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/MonotypeCorsiva.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/MonotypeCorsiva.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: Heebo;
  .container.margin-auto {
    margin: 0 auto;
  }
  .vc_row {
    margin: 0;
  }
  .vc_icon_element {
    margin-bottom: 0;
  }
  h1, h2, h3 {
    font-family: Heebo;
  }
  &.page-template-landingPage {
    padding-top: 70px;
  }
}

.no-padding .vc_column-inner {
  padding: 0 !important;
}

.wpb_gmaps_widget {
  &.wpb_content_element {
    margin: 0 !important;
  }
}

.page-template-landingPage {
  .main-link {
    h2 {
      margin-top: 30px;
      a {
        @include link-hover();
        @media only screen and (max-width: 767px) {
          font-size: 22px;
        }
      }
    }

  }

  //global
  .flex-box {
    display: flex;
  }
  .dark-blue-bg {
    background: $dark-red;
  }

  .light-blue-bg {
    background: $light-red;
  }

  .light-blue-bg {
    h2 {
      margin-top: 30px;
    }
  }

  //form
  .slider-form-section {
    .vc_column-inner {
      @media only screen and (max-width: 767px) {
        padding: 0 !important;
      }
    }
  }

  .contact-form-flow {
    position: absolute;
    z-index: 2;
    right: 15%;
    top: 20%;
    box-shadow: 4px 3px 9px -1px rgba(0, 0, 0, 0.4);
    @media only screen and (max-width: 767px) {
      position: relative;
      right: 0;
      top: 0;
      box-shadow: none;
      &:before {
        font-family: FontAwesome;
        content: "\f063";
        display: block;
        color: $dark-red;
        position: absolute;
        top: -22px;
        transform: translate(-50%, -50%);
        right: 46%;
        width: 10px;
        height: 10px;
      }
    }
    background-color: $light-red;
    padding: 25px;
    .contact-form {
      display: flex;
      flex-flow: column;
      .contact-form-title {
        color: $white;
        text-align: center;
        h3 {
          margin: 5px 0;
          font-family: Heebo;
        }
        span {
          br {
            margin: 0;
          }
        }
      }
      .form-input {
        display: flex;
        padding: 5px 0;
        > div {
          display: flex;
          flex: 1 1 100%;
          span {
            width: 100%;
            input, textarea {
              width: 100%;
              padding: 10px;
              resize: none;
            }
          }
        }
        input[type="submit"] {
          width: 100%;
          padding: 10px;
          background: $dark-red;
          color: $white;
          transition: all .5s;
          &:hover {
            background: $white;
            color: $dark-red;
          }
        }
        .acceptance {
          color: $white;
          label {
            flex: 3;
          }
          span {
            flex: 1;
            margin: 0;
            input {
              float: left;
              width: auto;
            }
          }
        }
        span.ajax-loader {
          position: absolute;
          right: 25px;
          bottom: 7px;
        }
        .wpcf7-list-item.first.last {
          display: flex;
          margin: 0;
          input {
            order: 2;
            flex: 1;
          }
          span {
            order: 1;
            flex: 3;
            color: $white;
          }
        }
      }
    }
  }

  div.wpcf7-mail-sent-ok {
    border: 2px solid #fff;
    color: #fff;
  }

  .contact-bottom {
    .contact-form {
      display: flex;
      margin: 30px 0;
      justify-content: space-around;
      @media only screen and (max-width: 767px) {
        flex-flow: column;
      }
      .contact-form-title {
        display: none;
      }
      .acceptance {
        display: none !important;
      }
      .form-input {
        display: flex;
        padding: 5px 0;
        > div {
          display: flex;
          flex: 1 1 100%;
          span {
            width: 100%;
            input, textarea {
              width: 100%;
              padding: 10px;
              resize: none;
            }
          }
        }
        input[type="submit"] {
          width: 100%;
          padding: 10px;
          background: $dark-red;
          color: $white;
          transition: all .5s;
          &:hover {
            background: $white;
            color: $dark-red;
          }
        }
        div.wpcf7-mail-sent-ok {
          border: 2px solid #fff;
          color: #fff;
        }
        span.ajax-loader {
          position: absolute;
          right: 25px;
          bottom: 7px;
        }
        .wpcf7-list-item.first.last {
          display: flex;
          margin: 0;
          input {
            order: 2;
            flex: 1;
          }
          span {
            order: 1;
            flex: 3;
            color: $white;
          }
        }
      }
    }
  }

  #inner-footer {
    text-align: center;
    background: $dark-red;
    color: $white;
    a {
      color: $white;
    }
  }
}

.thank-you-message {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//Main Site
.main-site {
  .flex-box {
    display: flex;
  }
  .no-padding {
    padding: 0 !important;
  }
  .no-margin-title {
    h3 {
      margin-top: 0;
    }
  }
  .vc_section {
    margin: 0;
    &.light-red-bg {
      background: $light-red;
    }
  }
  .navbar-toggle {
    &.collapsed {
      .icon-bar {
        background-color: $dark-red;
        &:nth-of-type(1) {
          transform: rotate(0deg);
          top: 0;
        }
        &:nth-of-type(2) {
          opacity: 1;
          width: 100%;
          margin-left: 0;
        }
        &:nth-of-type(3) {
          transform: rotate(0deg);
          bottom: 0;
        }
      }
    }
    .icon-bar {
      position: relative;
      transition: all 500ms ease-in-out;
      background-color: #000;

    }
  }
  .navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
    background-color: #000;
    &:nth-of-type(1) {
      transform: rotate(45deg);
      top: 6px;
    }
    &:nth-of-type(2) {
      opacity: 0;
      width: 0;
      margin-left: 50%;
    }
    &:nth-of-type(3) {
      transform: rotate(-45deg);
      bottom: 6px;
    }
  }
  .navbar-default {
    margin: 0;

    &.nav-drag {
      .logo-search-wrapper {
        //height: 0;
        //visibility: hidden;
        //opacity: 0;
      }

    }
    .logo-search-wrapper {
      transition: all .1s;
      border-bottom: 1px solid $light-gray;
      border-top: 1px solid $light-gray;
      @include white-opacity-bg(0.85);
      height: 105px;
      opacity: 1;
      &.fadeOutUp {
        height: 0;
        display: none;
      }
      visibility: visible;
      .flex-box {
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 767px) {
          justify-content: center;
        }
        .header-call-now {
          display: flex;
          align-items: center;
          @media only screen and (max-width: 767px) {
            display: none;
          }
          .header-search {
            cursor: pointer;
            @media only screen and (max-width: 767px) {
              display: none;
            }
          }
          #main-search {
            @media only screen and (max-width: 767px) {
              display: none;
            }
          }
          #search {
            width: 0;
            float: right;
            border: 1px solid $dark-red;
            transition: all .5s;
            border-radius: 4px;
            margin: 0 10px;
            opacity: 0;
            padding: 0;
            &.open {
              width: 150px;
              opacity: 1;
              padding: 5px 10px;
            }
          }
          a {
            @include link-hover();
            font-size: 19px;
          }
        }
      }
    }
    .header-menu-wrapper {
      @include white-opacity-bg(0.85);
      border-top: 1px solid $dark-red;
      border-bottom: 1px solid $dark-red;
      .hvr-overline-from-center {
        &:before {
          background: $dark-red;
        }

      }
    }

  }
  .nav-drag {
    .header-menu-wrapper {
      background: #fff;
    }
  }
  .navbar a.navbar-brand {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: auto;
    text-decoration: none;
    span {
      font-family: MonotypeCorsiva;
      font-size: 22px;
      color: black;
      margin-top: 10px;
      @media only screen and (max-width: 992px) {
        font-size: 20px;
        margin-right: 10px;
      }
      @media only screen and (max-width: 400px) {
        font-size: 17px;
        text-align: left;
        margin-left: 10px;
      }
    }
  }
  .top-stripe {
    background: #fff;
    padding: 6px 0;
    .container {
      display: flex;
      .contact-info {
        flex: 3;
        display: flex;
        @media only screen and (max-width: 767px) {
          display: none;
        }

        font-size: 12px;
        a {
          display: flex;
          align-items: center;
          margin-left: 15px;
          text-decoration: none;
          @include link-hover($dark-gray);
          i {
            margin-left: 5px;
            color: $dark-red;
            font-size: 17px;
          }
        }
      }
      .contact-info-mobile {
        display: none;
        a {
          @include link-hover($dark-gray);
          color: $dark-red;
          font-size: 17px;
        }
        @media only screen and (max-width: 767px) {
          display: block;
        }
      }
      .socials {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
          margin-left: 10px;
          font-size: 18px;
          i {
            @include link-hover($dark-gray);
          }
        }
      }
    }
  }
  .main-contact-form {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    .input-form {
      flex: 1 1 49%;
      margin: 2px;
      input {
        width: 100%;
        height: 40px;
        padding: 5px;
      }
      input[type='submit'] {
        transition: all .5s;
        background: $white;
        color: $light-red;
        border: none;

        &:hover {
          background: $light-red;
          border: 1px solid $white;
          color: $white;
        }
      }
    }
  }
  #mega_count_bar {
    padding: 20px;
  }
  #inner-footer {
    text-align: center;
    background: $dark-red;
    color: $white;
    .widget ul {
      padding: 0;
      li {
        text-align: right;
        a {
          color: $white;
        }
      }
    }

    .copyright {
      border-top: 1px solid #fff;
      padding-top: 10px;
      p {
        text-align: center;
      }
      a {
        color: $white;
      }
    }
  }
}

#main {
  .post_content {
    section.header-parallax {

      padding: 310px 0 190px !important;
      &.equal {
        padding: 190px 0 !important;
      }
      color: $white;
      &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
        background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        .wpb_wrapper {
          color: $white;
          padding: 40px 0;
        }
      }
      &.white-bg {
        &:before {
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

}

.wpb_revslider_element {
  margin-top: 35px;
  @media only screen and (max-width: 992px) {
    margin-top: 190px;
  }
}

/*scroll top widget*/
.scroll-top {
  height: 52px;
  margin: 0px;
  text-align: center;
  background: transparent;
  border: 2px solid $dark-red;
  width: 52px;
  display: none;
  border-radius: 5px;
}

.scroll-top a {
  color: $dark-red !important;
  display: block;
  height: 100%;
  font-size: 22px;
  width: 100%;
  padding-top: 10px;
}

#tooper {
  position: fixed;
  height: 45px;
  width: 45px;
  z-index: 999;
  right: 10px;
  bottom: 40px;
}

@media (max-width: 992px) {
  .hvr-overline-from-center:before {
    display: none;
  }
}

.articles-special{
  @media (max-width: 992px) {
    .wpb_column.vc_column_container.vc_col-sm-6 {
      width: 100%;
    }
  }
}